body{
  font-family: Times New Roman, sans-serif;
  background:#ADD8E6;
  color:#000000;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.3;
   text-align: justify;
}

h1{
  color:#4682B4;
   text-align: justify;
}

h2{
  color:#4682B4;
  margin-top: 28px;
   text-align: justify;
}

p{
  background: white;
  padding: 10px 12px;
  border-radius: 10px;
  text-align: justify;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin: 12px 0;
   text-align: justify;
}
