body{
  font-family: "Times New Roman", Times, serif;
  background: #ADD8E6;
  color: #000000;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6{
  color: #4682B4;
  font-size: 22px;
  margin-top: 28px;
  margin-bottom: 10px;
  font-weight: bold;
}

p{
  background: white;
  padding: 10px 12px;
  border-radius: 10px;
  text-align: justify;
  font-size: 16px;
  hyphens: auto;
}

strong, b{
  color: #4682B4;
}

img{
  max-width: 220px;
  height: auto;
  border-radius: 12px;
  margin: 12px 0;
}
